.dashboard-component {
  .selection {
    padding: 20px 40px;

    .button {
      font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }

  .content {
    padding: 40px;
  }
}
