//Color Variables
$color-primary: #e43d2c;
$color-primary-light: #eb6a5d;
$color-default: #bdc3c7;
$color-default-light: #cdd2d5;
$color-info: #3498db;
$color-info-light: #62b0e4;
$color-danger: #e74c3c;
$color-danger-light: #ed7669;
$color-success: #2ecc71;
$color-success-light: #5bd990;

$color-sidebar: #aaaaaa;
$color-sidebar-active: #e43d2c;

// Typography
$font-primary: 'Poppins', sans-serif;
$color-text-header: '#fff';
$color-text-description: '#fff';

//Grays
$color-black: #3d3e40;
$color-lightgray: #3d3e40b3;
$color-secondary: #f0f1f3;
$color-secondaryHover: #dee0e4;
$color-disabled: #929292;
$color-disabledHover: #b0b2b4;
$color-clickable: #a0a0a0;
$color-white: #fff;
$color-background: #f7f9f9;
$color-offWhite: #fcfeff;
$color-border: #e6e9eb;

$color-header: #444444;
$color-description: #5a5a5a;

//Shadow
$color-shadow: #83939b33;

// Position
$sidebar-width: 250;

// Layout
$border-radius-default: 4px;
$border-radius-round: 15px;
$border-radius-circle: 50%;
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
