.dashboard-table {
  .table-striped {
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }

  .search-key {
    font-style: italic;
    font-weight: bold;
  }

  .button {
    margin-right: 4px;
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
  }
}
